.banner a {
    text-decoration: none;
    font-size: 1em;
    color: inherit;
    font-weight: 500;
    padding: 0.4em 0.5em;
}

.banner a:hover {
    color: #009b5d;
    transition: 0.3s;
}

.active {
    background-color: #009b5d;
    border-radius: 1em;
    color: white;
}

.active a:hover {
    color: white;
    transition: none;
}

.promo h1 {
    color: white;
    padding-left: 4em;
    font-size: 1.8em;
}

.promo button {
    background-color: white;
    border-radius: 0.7em;
    font-weight: 700;
    color: #0081b6;
    padding: 0.5em 1em;
}